// Colors
$pink: #ea638c;
$black: #100c11;
$white: #ffffff;
$grey: #6f8695;
$blue: #568ea3;
$teal: #17bebb;

// Fonts
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
$display-font: 'Bebas Neue', cursive;

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap');
$text-font: 'Lato', sans-serif;
