<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <!-- ##### Script import needed to read stylesheet, even without any js. ##### -->
    <script src="index.ts" type="text/javscript"></script>

    <title>Brandon Ramirez</title>
  </head>

  <body>
    <hgroup>
      <h1>Brandon Ramirez</h1>
      <h2>Full-Stack Web Engineer</h2>
    </hgroup>
    <section>
      <p>
        Hi! My name is Brandon and I've been programming for over 12 years. I
        taught myself when I was very young and always knew it was what I wanted
        to do for a living.
      </p>
      <p>
        I'm currently an intern at Story Squad, a mission-driven startup aimed
        at using proprietary data science algorithms to gamify the creative
        writing experience for upper elementary students. My current list of
        responsibilities include:
      </p>
      <ul>
        <li>Code & Design Reviews</li>
        <li>Application Architecture</li>
        <li>Product Vision</li>
        <li>Research & Solutions Architecture</li>
      </ul>
      <p>
        My internship is up in November 2021, when I will be beginning my job
        search in earnest for the coming year, as well as updating this
        <em>temporary</em> portfolio.
      </p>
      <footer></footer>
    </section>
  </body>
</html>
